html{height:100%}

body{
	height: 100%;
	background-color:black;
	text-align: center;

}

h1{color: purple;}
h2{font-size: 50px;}

#increase{color:green;}
#decrease{color:red;}
#neutral{color:grey;}
#orange{color:orange;}

a:hover{text-decoration: none;}

.container-narrow{
	height:100%;
}

.jumbotron{
	text-align: center;
	background-color: black;
	height:100%;
}

#j-content{
	padding-top:50px;
}

iframe{
	width: 500px;
	height:300px;
	border-top: #c00 0px dotted;
  border-right: #c00 0px dotted;
  border-left: #c00 0px dotted;
  border-bottom: #c00 0px dotted;
}

.btn{
	margin-left:5px;
	margin-right:5px;
	padding-left: 15px;
	padding-right: 15px;
}

.accordion-toggle{
text-align: center;
}

#next{
	padding-left: 100px;
	padding-right: 100px;
}

#title{
	font-size: 30px;

}

#game-box{
	margin-top:30px;
	padding-top:70px;
	padding-bottom:50px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	background-color: white;
}